@font-face {
  font-family: 'LibreBaskerville-Regular';
  src: url('../fonts/LibreBaskerville-Regular.eot');
  src: url('../fonts/LibreBaskerville-Regular.woff2') format('woff2'),
       url('../fonts/LibreBaskerville-Regular.woff') format('woff'),
       url('../fonts/LibreBaskerville-Regular.ttf') format('truetype'),
       url('../fonts/LibreBaskerville-Regular.svg#LibreBaskerville-Regular') format('svg'),
       url('../fonts/LibreBaskerville-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LibreBaskerville-Bold';
  src: url('../fonts/LibreBaskerville-Bold.eot');
  src: url('../fonts/LibreBaskerville-Bold.woff2') format('woff2'),
       url('../fonts/LibreBaskerville-Bold.woff') format('woff'),
       url('../fonts/LibreBaskerville-Bold.ttf') format('truetype'),
       url('../fonts/LibreBaskerville-Bold.svg#LibreBaskerville-Bold') format('svg'),
       url('../fonts/LibreBaskerville-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arial';
  src: url('../fonts/Arial.eot');
  src: url('../fonts/Arial.woff2') format('woff2'),
       url('../fonts/Arial.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Arial Bold';
  src: url('../fonts/Arial Bold.eot');
  src: url('../fonts/Arial Bold.woff2') format('woff2'),
       url('../fonts/Arial Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HKGrotesk-Regular';
  src: url('../fonts/HKGrotesk-Regular.eot');
  src: url('../fonts/HKGrotesk-Regular.woff2') format('woff2'),
       url('../fonts/HKGrotesk-Regular.woff') format('woff'),
       url('../fonts/HKGrotesk-Regular.ttf') format('truetype'),
       url('../fonts/HKGrotesk-Regular.svg#HKGrotesk-Regular') format('svg'),
       url('../fonts/HKGrotesk-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HKGrotesk-SemiBold';
  src: url('../fonts/HKGrotesk-SemiBold.eot');
  src: url('../fonts/HKGrotesk-SemiBold.woff2') format('woff2'),
       url('../fonts/HKGrotesk-SemiBold.woff') format('woff'),
       url('../fonts/HKGrotesk-SemiBold.ttf') format('truetype'),
       url('../fonts/HKGrotesk-SemiBold.svg#HKGrotesk-SemiBold') format('svg'),
       url('../fonts/HKGrotesk-SemiBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


